@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.cont{
    background-color: rgb(185, 241, 233);
    min-height: 100vh;
    margin-top:-30px;
}
.tab{
   
    align-items: center;
    display: flex;
    justify-content: center;
  
}
.select h1 {
    border-top:5px solid #734ea0 !important; 
}

.tab h1{
    color:#40497a;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    font-size:40px;
    border-radius: 5px;
    background-color:white;
    padding:10px;
    cursor:pointer;
    border-top:4px solid #486881; 
    box-shadow:  0 0px 2px 3px rgb(118, 190, 190) ;
}
.tab h1:hover{

    box-shadow:  0 0px 2px 3px rgb(118, 190, 190) ;
}
.head{
    
    margin-top:5vh;
    justify-content: center;
   
}
.content{
    justify-content: center;
}
.contacts{
   margin:30px;
   box-shadow: 0 8px 8px -4px gray;
}
.card-title{
    text-align: center;
}
.contacts-img .card-img-top{
    width:100px;
    height: 170px;
}
.address{
    color:#40497a;
    font-family: 'Alata', sans-serif;
    text-align: center;
}
.addr{
    bottom:-60px;
    position:absolute;
    width:50vw;
    left:50%;
    transform:translate(-50%,0);
}
 .feedback{
    width:500px;
    margin:auto;
    margin-top:60px;
    color:#40497a;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
}
.feedback label{
    color:#40497a;
}
.feedback button[type="submit"]
{
    margin-left:50%;
    width:200px;
    transform: translate(-50%,0);
}
@media only screen and (max-width:425px)
{
    .feedback{
        width:300px;
    }
}