@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

#eyeDEA2_1_svg__irislines{
    animation: spin 30s linear infinite;
    transform-origin: 49.7% 49.8%;
    transition-timing-function: ease-in;
}

.anim-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
}