@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

#eyeDEA2_1_svg__irislines{
    animation: spin 60s linear infinite;
    transform-origin: 50% 50%;
    transition-timing-function: ease-in;
}
.anim-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: black; */
}
.right-hover{
    transform-origin: 50% 50%;
    transform: translateX(3%) scale(1.1);
    transition-timing-function: ease;
}
.left-hover{
    transform-origin: 50% 50%;
    transform: translateX(-3%) scale(1.1);
    transition-timing-function: ease;
}
.eye-hover,.mask-hover{
    transform-origin: 50% 50%;
    transform: scale(1.1);
    transition-timing-function: ease;
}


@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 0.1;}
}
.fade-in-line{
    animation: fade-in 3s linear;
}
#eyeDEA2_1_svg__Layer_1{
    transform: scale(0.85) ;
}