.regPage label {
    color: white;
}

.regPage .reg-head {
    width: fit-content;
    margin: 50px auto;
    color: white;
}

.regPage .next-btn {
    width: fit-content;
    margin: 50px auto;
}

.regPage .cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 999;
}

.regPage .cc-selector input:active+.drinkcard-cc {
    opacity: 0.9;
}

.regPage .cc-selector input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.regPage .drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
    filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.regPage .drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}


/* Extras */

.regPage a:visited {
    color: #888;
}

.regPage {
    font-size: 18px;
}

.regPage a {
    color: #444;
    text-decoration: none;
}

.regPage p {
    margin-bottom: 0.3em;
}

.regPage span.cc {
    color: #6d84b4;
}

.regPage #choose-events {
    color: rgb(255, 255, 255);
    margin: 50px auto 30px;
    width: fit-content;
}

.regPage .form-row {
    margin: 30px 0;
}

.regPage .justify-spread {
    display: flex;
    justify-content: space-around;
}

.regPage .event-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 35px;
}

.regPage .event-icons label {
    border-radius: 10px;
    background-color: rgb(59, 59, 53);
    margin-bottom: 10px;
}

.regPage .event-icons label:hover {
    transform: scale(1.13);
}

.regPage #total-amount {
    font-weight: 500;
    font-size: 20px;
    background-color: #fff;
    color: blue;
    border-radius: 5px;
    padding: 5px 20px;
}

.regPage .event-icons p {
    color: white;
    text-align: center;
    line-height: 100%;
}

.regPage .event-icons p.event-price {
    color: black;
    background-color: white;
    padding: 3px 10px;
    border-radius: 10px;
}

.regPage .event-wrap {
    flex-direction: column;
    align-items: center;
}

.regPage .event1 {
    background-image: url(../../logo.svg);
}

.true {
    transform: scale(1.1);
}