.regPage label {
    color: white;
}

.regPage .reg-head {
    width: fit-content;
    margin: 50px auto;
    color: white;
}

.regPage .next-btn {
    width: fit-content;
    margin: 50px auto;
}

.regPage .cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 999;
}

.regPage .cc-selector input:active+.drinkcard-cc {
    opacity: 0.9;
}

.regPage .cc-selector input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.regPage .drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
    filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.regPage .drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}


/* Extras */

.regPage a:visited {
    color: #888;
}

.regPage {
    font-size: 18px;
}

.regPage a {
    color: #444;
    text-decoration: none;
}

.regPage p {
    margin-bottom: 0.3em;
}

.regPage span.cc {
    color: #6d84b4;
}

.regPage .years,
.regPage .emails,
.regPage .college {
    margin: 20px 0;
}

.regPage .college {
    margin: 40px 0;
    margin-top: 50px;
}

.regPage .members,
.regPage .years {
    margin: 40px 0;
}

.regPage .years .custom-radio {
    margin: 0 20px;
}

.regPage #choose-events {
    color: rgb(255, 255, 255);
    /* font-size: 18px; */
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 30px;
}

.regPage .event-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 15px;
}

.regPage .event-icons label {
    border-radius: 10px;
    background-color: rgb(59, 59, 53);
}

.regPage .event-icons p {
    color: white;
}

.regPage .event-wrap {
    flex-direction: column;
    align-items: center;
}

.regPage .event1 {
    background-image: url(../../logo.svg);
    color: red;
}