.mid{
    text-align: center;
    justify-content: center;
}

.sponsor{
    width: 70%;
    border-radius: 50%;
}

@media (max-width : 600px){
    .sponsor{
        width : 50%;
        margin: 10px 0;
    }
}

/* @media (max-width: 768px){
    .sponsor{
        width : 90%;
    }

} */