.mid{
    text-align: center;
    justify-content: center;
}

.sponsor{
    width: 55%;
    border-radius: 50%;
    transition: transform .2s;
}

.spons{
    text-align: center;
}

.sponsor:hover{
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 0px 15px #36cad3;
        transform: scale(1.2); 
}

@media (max-width : 600px){
    .sponsor{
        width : 50%;
        margin: 10px 0;
    }
}

/* @media (max-width: 768px){
    .sponsor{
        width : 90%;
    }

} */