.anim {
    position: relative;
    height: 720px;
    width: 1524px;
    background-color: black;
}
.anim-iframe{
    display: block;
    transition: ease;
}
.anim-iframe-before{
    display: none;
}
.anim-text-container{
    position: absolute;
    top: 42%;
    left:35%;
    background-color: rgb(0, 0, 0, 0.5);
    display: block;
    transition-timing-function: ease-in;
    transition: all 1s;
}
.anim-text-container-before{
    display: none;
}
.anim-text{
    width: 700px;
    object-fit: contain;
    /* transition-timing-function: ease-in;
    transition: all 2s; */
    /* animation-delay: 2s; */
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.anim-logo-container{
    position: absolute;
    top: 30%;
    left: 18%;
    /* transition-timing-function: ease-in;
    transition: all 1s; */
}
.anim-logo-container-before{
    position: absolute;
    /* height: 320px;
    object-fit: contain; */
    top: 12%;
    left: 33%;
    height: 10px;
}
.anim-logo{
    height: 320px;
    object-fit: contain;
    /* transition-timing-function: ease-in;
    transition: all 1s; */
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 
.anim-logo-before{
    height: 420px;
    object-fit: contain;
}
.anim-logo-after{
    animation-name: fadeInAfter;
    animation-duration: 6s;
}
@keyframes fadeInAfter {
    0% {
        opacity: 0;
        /* transform:translateX(0%); */
    }
    50%{
        opacity: 1;
        /* transform:translateX(0%); */
    }
    100%{
        /* transform:translateX(-100%); */
        opacity: 1;
    }
}