.anim{
    height: calc(100vh - 60px);
    width: 100vw;
    position: relative;
}

.hide{display: none;}

.anim-overlay-lower{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: black; */
    z-index: 4;
}
@keyframes delay-fade-in {
    from{opacity: 0;}
    to{opacity: 1;}
}
.anim-overlay-bg{
    width: 100vw;
    object-fit: contain;
    z-index: 3;
    animation: delay-fade-in 5s linear;
}
.anim-overlay-upper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: black; */
    z-index: 5;
}
@keyframes disappear{
    from{
        opacity: 1;
        display: block;
    }
    to{
        opacity: 0;
        display: none;
    }
}
.vanish{
    animation: disappear 0.75s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}
@keyframes delay_hide {
    99%{opacity: 1;}
    100%{opacity: 0;display: none;}
}
.hide-now{
    animation: delay_hide 9s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.anim-overlay-logos{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.anim-iframe{
    width: 100vw;
    object-fit: contain;
}