.img_size{
    width: 70%;
}

.content{
    padding: 20px;
    text-align: justify;
}

.mid{
    text-align: center;
}

.credenz{
    /* background-color: #fafafa; */
    background-color: #e5ebf091;

}

.pisb{
    background-color: #e5ebf091;
}