.loginFirst {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    min-height: 100vh;
    h1 {
        font-size: 35px;
        text-transform: capitalize;
        margin: 30px;
        color: #4fbcee;
        text-align: center;
    }
    img {
        width: 400px;
        margin: 20px;
    }
}

@media (max-width: 850px) {
    .loginFirst {
        h1 {
            font-size: 5vw;
            margin: 30px;
        }
        img {
            width: 50vw;
            margin: 30px;
        }
    }
}

@media (max-width: 750px) {
    .loginFirst {
        width: 100%;
        h1 {
            font-size: 6vw;
            margin: 30px 30px;
        }
        img {
            width: 60vw;
            margin: 20px;
        }
    }
}