.eve-anim {
    min-height: 95vh;
    width: 80%;
    margin: auto;
    // background-color: red;
    // border: 2px solid blue;
    padding-top: 0px;
    // margin-top: 400px;
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1.5fr 1fr;
    .events-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 120px);
        padding: 50px 0;
        grid-gap: 40px;
        // grid-template-columns: 1fr 1fr;
    }
}