.evePage {
    .event-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // background-color: rgb(197, 149, 59);
        // filter: invert(1);
        width: 130px;
        margin: 0 auto;
        transition: all 0.3s;
        box-shadow: 0px 0px 8px rgb(19, 19, 19);
        // grid-template-rows: 3fr 2fr;
        cursor: pointer;
        div {
            height: 100%;
            width: 100%;
            display: flex;
            position: relative;
            padding: 20px 0;
            flex-direction: column;
            background-color: white;
            justify-content: center;
            transition: transform 0.3s;
            border-radius: 15px;
            img {
                height: 80%;
                margin: auto;
                pointer-events: none;
            }
            h5 {
                align-items: center;
                font-size: 15px;
                text-align: center;
                margin: auto 0;
                pointer-events: none;
            }
            &:hover {
                transform: scale(1.1);
            }
             :after {}
        }
    }
    .fadeOut1 {
        transform: translateX(-50px) scale(0.7);
        opacity: 0;
    }
    .fadeOut2 {
        transform: translateX(50px) scale(0.7);
        opacity: 0;
    }
    .slideRight {
        transform: translateX(400px) scale(0.9);
    }
    .slideLeft {
        transform: translateX(-400px) scale(0.9);
    }
    .hide {
        display: none;
    }
    .detect {
        border-width: 3px !important;
        border-style: solid !important;
        border-color: transparent;
        border-radius: 0 !important;
        span.corner {
            animation: blink 1.8s;
        }
        span.corner:before {
            position: absolute;
            content: '';
            height: 2px;
            background-color: cyan;
            width: 25%;
        }
        span.corner::after {
            position: absolute;
            content: '';
            width: 2px;
            background-color: cyan;
            height: 25%;
        }
        span.corner.top:before,
        span.corner.top::after {
            top: -7%;
        }
        span.corner.left:before,
        span.corner.left:after {
            left: -7%;
        }
        span.corner.right:before,
        span.corner.right:after {
            right: -7%;
        }
        span.corner.bottom:before,
        span.corner.bottom:after {
            bottom: -7%;
        }
    }
    .detect span#scanner {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
        width: 100%;
        background-color: cyan;
        position: absolute;
        animation: scan 1.8s ease-in;
    }
    .detect.red {
        border-color: red;
    }
    .detect.blue {
        border-color: blue;
    }
    .detect.green {
        border-color: green;
    }
    .detect.green::after {
        content: 'EVENT';
        width: fit-content;
        background-color: rgb(9, 255, 0);
        position: absolute;
        font-size: 10px;
        bottom: -10%;
        right: 0;
        font-weight: 500;
    }
    .button {
        border: 1px solid green;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        // transform: skewX(-10deg);
        height: 50px;
        width: 200px;
        border-radius: 20px 5px 20px 0px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        font: 15px sans-serif;
        font-weight: 300;
        text-shadow: 0 0 20px #fff;
        text-transform: uppercase;
        -webkit-animation: breath2 2s 0.5s infinite alternate;
        animation: breath2 2s 0.5s infinite alternate;
        transition: all 0.2s ease;
        cursor: pointer;
    }
    .button:before {
        content: "";
        display: block;
        width: calc(100% - 22px);
        height: calc(100% - 8px);
        -webkit-animation: breath 2s infinite alternate;
        animation: breath 2s infinite alternate;
        left: 10px;
        top: 3px;
        position: absolute;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 15px 3px 15px 3px;
    }
    .button.fire {
        border-color: #ffeca8;
        background-image: linear-gradient(to bottom, rgba(255, 138, 48, 0.6), rgba(240, 96, 29, 0.6));
        box-shadow: 0 0 70px rgba(255, 138, 48, 0.6), 0 5px 20px rgba(255, 138, 48, 0.6), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
        color: #ffeca8;
    }
    .button.fire:before {
        box-shadow: inset 0 0 30px 0 #ffeca8;
    }
    .button.ice {
        border-color: #a8ecff;
        background-image: linear-gradient(to bottom, rgba(92, 161, 250, 0.5), rgba(48, 108, 238, 0.5));
        box-shadow: 0 0 20px rgba(48, 138, 255, 0.5), 0 5px 20px rgba(48, 138, 255, 0.5), inset 0 1px #a8fff8, inset 0 -1px #a8ffff;
        color: #141414;
    }
    .button.ice:before {
        box-shadow: inset 0 0 30px 0 #a8ecff;
    }
    .button:hover.fire {
        box-shadow: 0 0 70px rgba(255, 138, 48, 0.8), 0 5px 20px rgba(255, 138, 48, 0.8), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
    }
    .button:hover.fire:before {
        box-shadow: inset 0 0 50px 0 #ffeca8;
    }
    .button:hover.ice {
        box-shadow: 0 0 70px rgba(48, 138, 255, 0.8), 0 5px 20px rgba(48, 138, 255, 0.8), inset 0 1px #a8ecff, inset 0 -1px #a8ecff;
    }
    .button:hover.ice:before {
        box-shadow: inset 0 0 50px 0 #a8ecff;
    }
    .button+.button {
        margin-top: 15px;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    @-webkit-keyframes breath {
        0% {
            transform: scaleX(1);
        }
        100% {
            transform: scaleX(0.95);
        }
    }
    @keyframes breath {
        0% {
            transform: scaleX(1);
        }
        100% {
            transform: scaleX(0.95);
        }
    }
    @-webkit-keyframes breath2 {
        0% {
            transform: skewX(-5deg) scaleX(1);
        }
        100% {
            transform: skewX(-0deg) scaleX(0.95);
        }
    }
    @keyframes breath2 {
        0% {
            transform: skewX(-5deg) scaleX(1);
        }
        100% {
            transform: skewX(-0deg) scaleX(0.95);
        }
    }
}

@keyframes borders {
    0% {
        border-color: red;
    }
    50% {
        border-color: blue;
    }
    100% {
        border-color: red;
    }
}

@keyframes scan {
    0% {
        top: 0;
    }
    80% {
        top: 100%;
    }
    100% {
        top: 00%;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}