.social_container {
    padding:0 50px;
  }

.footer{
    justify-content: center;
    display: flex;
    background: #262626;
    padding: 10px 0;
    color: #fff;

}
/* 
.instagram {
    color: black;
}

.facebook {
    margin-right: 10px;
}

.facebook:hover {
    color: #4968ad;
    transform: translateY(-2px);
}

.instagram:hover {
    color: black;
    transform: translateY(-2px);
} */

@media (max-width: 600px){
   footer-font{
       font-size: 1 rem;
       
   }
}

@media only screen and (max-width: 280px){
    footer-font{
        font-size: 10px;
        
    }
}