<h1>Return and Refund Policy</h1>
<p>Last updated: January 19, 2021</p>
<p>Thank you for shopping at credenz .</p>
<p>If, for any reason, You are not completely satisfied with a purchase We invite You to review our policy on refunds and returns. </p>
<p>The following terms are applicable for any products that You purchased with Us.</p>
<h1>Interpretation and Definitions</h1>
<h2>Interpretation</h2>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
<h2>Definitions</h2>
<p>For the purposes of this Return and Refund Policy:</p>
<ul>
<li>
<p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to PICT IEEE Student Branch, Survey No. 27, Near, Trimurti Chowk, Bharati Vidyapeeth Campus, Dhankawadi, Pune, Maharashtra 411043.</p>
</li>
<li>
<p><strong>Goods</strong> refer to the items offered for sale on the Service.</p>
</li>
<li>
<p><strong>Orders</strong> mean a request by You to purchase Goods from Us.</p>
</li>
<li>
<p><strong>Service</strong> refers to the Website.</p>
</li>
<li>
<p><strong>Website</strong> refers to credenz , accessible from <a href="https://credenz.in" rel="external nofollow noopener" target="_blank">https://credenz.in</a></p>
</li>
<li>
<p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
</li>
</ul>
<h1>Your Order Cancellation Rights</h1>
<p>You are entitled to cancel Your Order anytime.</p>
<p>There is no deadline for cancelling an Order but the amount payed during the Order will not be refunded under any circumstances.</p>
<p>During verification of the eligibility of the candidate based on the provided information, if any candidate is found non-eligible for the booked event, booking fees will not be/ will be refunded at any condition.</p>
<h2>Contact Us</h2>
<p>If you have any questions about our Returns and Refunds Policy, please contact us:</p>
<ul>
<li>
<p>By email: rohanpawar1999@gmail.com</p>
</li>
<li>
<p>By phone number: +91 9834570868</p>
</li>
</ul>