body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --light-shades: #0f8edf;
  --light-accent: #6eabce;
  --main-brand: #5a6485;
  /* --dark-accent: #b76572;
  --dark-shades: #3859ab; */
  --lighter-accent: #f0f0f1;
  --dark-shade: #27252E;
}