.nav-item {
    margin-left: 20px;
    color: white;
}

.nav-link {
    color: white;
}

#logoieee {
    margin-left: 3%;
}

#login {
    margin-left: 2%;
}

.navbar-inner{
    color: white;
}

.navbar-toggler-icon {
    background-image: none;
    padding-top: 5px;
  }

/* .navbar-toggler-icon::before {
    font-family: FontAwesome;
    content: "\f0c9"; fa-bars, fa-navicon
  } */

.navbar-brand{
    display: inline-block;
}

/*for Galaxy phones*/
@media only screen and (max-width: 280px) {
    
    .navbar {
        padding: 0.5rem 0rem;
    }
}

@media (max-width: 490px){
    a.navbar-brand{
        display: contents;
    }
}